<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	{if isset($test_name)}
    <title>{:__('Edit')}</title>
    {else/}
    <title>{:__('Add')}</title>
    {/if}
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="/static/css/oksub.css">

	<script type="text/javascript" src="/static/lib/loading/okLoading.js"></script>
	<script src='/static/lib/city-picker/city-picker.data.js' type='text/javascript'></script>
<link href='/static/lib/city-picker/city-picker.css' rel='stylesheet'/>

	<style>
		.layui-upload-list img{
			height:100px;
			width:100px;
		}
	</style>
</head>
<body>
<div class="ok-body">
	<!--form表单-->
	<form class="layui-form layui-form-pane ok-form">
	    
                    {if $test_name.id??null}
                    <input type="hidden" name="id" placeholder="" autocomplete="off" class="layui-input" value="{$test_name.id??''}">
                    {/if}
                            <div class="layui-form-item">
            <label class="layui-form-label">{:__("Select_test")}</label>
            <div class="layui-input-block">
                <select name="select_test" lay-verify="required">
                    <option value="">{:__('Select')}</option>
                    <option {if $test_name.select_test??null == 10}selected=""{/if} value="10">选项一</option><option {if $test_name.select_test??null == 20}selected=""{/if} value="20">选项二</option>
                </select>
            </div>
        </div>
<div class="layui-form-item">
    <label class="layui-form-label">{:__("Set_test")}</label>
    <div class="layui-input-block">
    <input {if isset($test_name) && in_array('music',explode(',',$test_name.set_test))}checked=""{/if} type="checkbox" name="set_test[music]" title="音乐">
<input {if isset($test_name) && in_array('reading',explode(',',$test_name.set_test))}checked=""{/if} type="checkbox" name="set_test[reading]" title="读书">
<input {if isset($test_name) && in_array('swimming',explode(',',$test_name.set_test))}checked=""{/if} type="checkbox" name="set_test[swimming]" title="游泳">

    </div>
</div> <div class="layui-form-item">
    <label class="layui-form-label">{:__("Content")}</label>
    <div class="layui-input-block">
      <textarea class="layui-textarea editor" id="content" name="content" lay-verify="content">{$test_name.content??''}</textarea>
    </div>
  </div> <div class="layui-form-item">
    <label class="layui-form-label">{:__("Test_content")}</label>
    <div class="layui-input-block">
      <textarea class="layui-textarea editor" id="test_content" name="test_content" lay-verify="test_content">{$test_name.test_content??''}</textarea>
    </div>
  </div>  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">{:__("Time123")}</label>
      <div class="layui-input-block">
        <input type="text" name="time123" id="time123" autocomplete="off" class="layui-input" placeholder='yy-mm-dd HH:ii:ss' value="{$test_name.time123??date('Y-m-d H:i:s')}">
      </div>
    </div>
  </div>    <div class="layui-form-item">
    <label class="layui-form-label">{:__("Switch")}</label>
    <div class="layui-input-block">
      <input type="checkbox" name="switch" lay-skin="switch" lay-text="{:__("Open")}|{:__("Close")}" {if isset($test_name) && $test_name.switch == 'on'}checked{/if}>
    </div>
  </div><div class="layui-form-item">
                            <label class="layui-form-label">{:__("State")}</label>
                            <div class="layui-input-block">
                                <input type="radio" name="state" value="10" title="选项一" {if isset($test_name) && $test_name.state == 10}checked{/if}><input type="radio" name="state" value="20" title="选项二" {if isset($test_name) && $test_name.state == 20}checked{/if}>
                            </div>
                        </div>  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">{:__("Create_time")}</label>
      <div class="layui-input-block">
        <input type="text" name="create_time" id="create_time" autocomplete="off" class="layui-input" placeholder='yy-mm-dd HH:ii:ss' value="{$test_name.create_time??date('Y-m-d H:i:s')}">
      </div>
    </div>
  </div>  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">{:__("Create1time")}</label>
      <div class="layui-input-block">
        <input type="text" name="create1time" id="create1time" autocomplete="off" class="layui-input" placeholder='yy-mm-dd HH:ii:ss' value="{$test_name.create1time??date('Y-m-d H:i:s')}">
      </div>
    </div>
  </div>  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">{:__("Update_time")}</label>
      <div class="layui-input-block">
        <input type="text" name="update_time" id="update_time" autocomplete="off" class="layui-input" placeholder='yy-mm-dd HH:ii:ss' value="{$test_name.update_time??date('Y-m-d H:i:s')}">
      </div>
    </div>
  </div>  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">{:__("Create_at")}</label>
      <div class="layui-input-block">
        <input type="text" name="create_at" id="create_at" autocomplete="off" class="layui-input" placeholder='yy-mm-dd HH:ii:ss' value="{$test_name.create_at??date('Y-m-d H:i:s')}">
      </div>
    </div>
  </div><div class="layui-form-item">
                    <label class="layui-form-label">test_city</label>
                    <div class="layui-input-block">
                        <input type="text" name="test_city" id="test_city" autocomplete="on" placeholder="{:__("Test_city")}"  class="layui-input"
                        readonly="readonly" data-toggle="city-picker">
                    </div>
                </div>
<div class="layui-form-item">
                    <label class="layui-form-label">img</label>
                      <div class="layui-input-block layui-upload">
                        <input name="img" class="layui-input layui-col-xs6" lay-verify="required" placeholder="{:__('Please upload')}" value="{$test_name.img??null}">
                        <div class="layui-upload-btn" >
                            <span><a class="layui-btn" data-upload="img" data-upload-number="one" data-upload-exts="png|jpg|ico|jpeg" data-upload-icon="image"><i class="fa fa-upload"></i>{:__('Upload')}</a></span>
                            <span><a class="layui-btn layui-btn-normal" id="select_logo_img" data-upload-select="img" data-upload-number="one" data-upload-mimetype="image/*"><i class="fa fa-list"></i>{:__('Select')}</a></span>
                        </div>
                    </div>
                </div><div class="layui-form-item">
                    <label class="layui-form-label">image</label>
                      <div class="layui-input-block layui-upload">
                        <input name="image" class="layui-input layui-col-xs6" lay-verify="required" placeholder="{:__('Please upload')}" value="{$test_name.image??null}">
                        <div class="layui-upload-btn" >
                            <span><a class="layui-btn" data-upload="image" data-upload-number="one" data-upload-exts="png|jpg|ico|jpeg" data-upload-icon="image"><i class="fa fa-upload"></i>{:__('Upload')}</a></span>
                            <span><a class="layui-btn layui-btn-normal" id="select_logo_image" data-upload-select="image" data-upload-number="one" data-upload-mimetype="image/*"><i class="fa fa-list"></i>{:__('Select')}</a></span>
                        </div>
                    </div>
                </div><div class="layui-form-item">
                    <label class="layui-form-label">images</label>
                      <div class="layui-input-block layui-upload">
                        <input name="images" class="layui-input layui-col-xs6" lay-verify="required" placeholder="{:__('Please upload')}" value="{:implode('|',$test_name.images??[])}">
                        <div class="layui-upload-btn" >
                            <span><a class="layui-btn" data-upload="images" data-upload-number="more" data-upload-exts="png|jpg|ico|jpeg" data-upload-icon="image"><i class="fa fa-upload"></i>{:__('Upload')}</a></span>
                            <span><a class="layui-btn layui-btn-normal" id="select_logo_images" data-upload-select="images" data-upload-number="one" data-upload-mimetype="image/*"><i class="fa fa-list"></i>{:__('Select')}</a></span>
                        </div>
                    </div>
                </div><div class="layui-form-item">
                    <label class="layui-form-label">imgs</label>
                      <div class="layui-input-block layui-upload">
                        <input name="imgs" class="layui-input layui-col-xs6" lay-verify="required" placeholder="{:__('Please upload')}" value="{:implode('|',$test_name.imgs??[])}">
                        <div class="layui-upload-btn" >
                            <span><a class="layui-btn" data-upload="imgs" data-upload-number="more" data-upload-exts="png|jpg|ico|jpeg" data-upload-icon="image"><i class="fa fa-upload"></i>{:__('Upload')}</a></span>
                            <span><a class="layui-btn layui-btn-normal" id="select_logo_imgs" data-upload-select="imgs" data-upload-number="one" data-upload-mimetype="image/*"><i class="fa fa-list"></i>{:__('Select')}</a></span>
                        </div>
                    </div>
                </div>  <div class="layui-form-item">
            <label class="layui-form-label">{:__("Test1_name_id")}</label>
            <div class="layui-input-block">
                <select name="test1_name_id" lay-verify="required">
                    <option value="">{:__('Select')}</option>
                    {foreach $test1Names as $key=>$vo } 
                        {if isset($test_name.test1_name_id) && $test_name.test1_name_id==$vo.id}}
                        <option value="{$vo.id}" selected>{$vo.name}</option>
                        {else/}
                        <option value="{$vo.id}" >{$vo.name}</option>
                        {/if}
                    {/foreach}
                </select>
            </div>
        </div>  <div class="layui-form-item">
            <label class="layui-form-label">{:__("Test1_name_ids")}</label>
            <div class="layui-input-block">
            <div id="test1_name_ids" name="test1_name_ids"  ></div>
            </div>
        </div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit lay-filter="add">{:__('Submit')}</button>
				<button type="reset" class="layui-btn layui-btn-primary">{:__('Reset')}</button>
			</div>
		</div>
	</form>
</div>
<!--js逻辑-->
<script src="/static/lib/layui/layui.js"></script>
<script src="/static/js/upload.js" charset="utf-8"></script>

<script>

	//设置插件路径
	layui.config({
            base: '../../static/lib/'
    })
	//集成插件
	.extend({"citypicker":"city-picker\/city-picker","xmSelect":"xm-select"})
	//使用插件
	.use(["form","okLayer","okUtils","laydate","citypicker","xmSelect"], function () {
		let form = layui.form;
let okLayer = layui.okLayer;
let okUtils = layui.okUtils;
let laydate = layui.laydate;
let citypicker = layui.citypicker;
let xmSelect = layui.xmSelect;

		
  		let editorArr = {};
		okLoading.close();
        
                //渲染字段时间组件
                laydate.render({ 
                          elem: "#time123"
                          ,trigger:'click'
                          ,type: 'datetime'
                        });

                //=============渲染字段create_time组件
                laydate.render({ 
                          elem: "#create_time"
                          ,trigger:'click'
                          ,type: 'datetime'
                        });

                //=============渲染字段create1time组件
                laydate.render({ 
                          elem: "#create1time"
                          ,trigger:'click'
                          ,type: 'datetime'
                        });

                //=============渲染字段update_time组件
                laydate.render({ 
                          elem: "#update_time"
                          ,trigger:'click'
                          ,type: 'datetime'
                        });

                //=============渲染字段create_at组件
                laydate.render({ 
                          elem: "#create_at"
                          ,trigger:'click'
                          ,type: 'datetime'
                        });

                //===============渲染字段test_city组件
                let testCity =  new citypicker('#test_city', {
                    provincename:'provinceId',
                    cityname:'cityId',
                    districtname: 'districtId',
                    level: 'districtId',// 级别
                });
                testCity.setValue('{$test_name.test_city??""}')

                //==================渲染字段关联ids组件
                var data = JSON.parse('{:json_encode($test1Names)}');
                var ids = JSON.parse('[{:isset($test_name)?$test_name["test1_name_ids"]:null}]');
                var arr = [];
                for(var key in data){
                    arr[key] = {
                        'name':data[key].name,
                        'value':data[key].id,
                    }
                    if(ids.indexOf(data[key].id)!=-1){
                        arr[key]['selected'] = true;
                    }
                }
                var test1_name_ids = xmSelect.render({
                    el: '#test1_name_ids',
                    name: 'test1_name_ids',
                    data:arr
                });
                

		form.on("submit(add)", function (data) {
			okUtils.ajax("", "post", data.field, true).done(function (response) {
				//console.log(response);
				if(response.code==1){
					okLayer.greenTickMsg("编辑成功", function () {
						parent.layer.close(parent.layer.getFrameIndex(window.name));
					});
				}else{
					okLayer.greenTickMsg(response.msg, function () {
				        
				    })
				}
				
			}).fail(function (error) {
				console.log(error)
			});
			return false;
		});
	});
</script>


<script>
layui.use(['upload','laydate'], function(){
  var $ = layui.jquery
  , laydate = layui.laydate
  ,upload = layui.upload;


  //普通图片上传
  var uploadInst = upload.render({
    elem: '#test1'
    ,url: '{:url("admin/upload/index")}' //改成您自己的上传接口
    ,before: function(obj){
      //预读本地文件示例，不支持ie8
      obj.preview(function(index, file, result){
        $('#demo1').attr('src', result); //图片链接（base64）
      });
    }
    ,done: function(res){
      //如果上传失败
      if(res.code > 0){
        return layer.msg('上传失败');
      }
	  console.log(res);
      //上传成功
	  $('input[name=avatar]').val(res.path);
    }
    ,error: function(){
      //演示失败状态，并实现重传
      var demoText = $('#demoText');
      demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
      demoText.find('.demo-reload').on('click', function(){
        uploadInst.upload();
      });
    }
  });

  
});
</script>
<script type="text/javascript" src="/static/lib/require.js"></script>
<script type="text/javascript" src="/static/js/addons.js"></script>

</body>
</html>
