{extend name="layout/default" /}


{block name="head"}
<title>分片上传</title>
<!--	WebUploader-->
<link rel="stylesheet" type="text/css" href="/static/webuploader-0.1.5/webuploader.css" />
<link rel="stylesheet" type="text/css" href="/static/webuploader-0.1.5/image_upload/style.css" />
{/block}
{block name="content"}
<div id="wrapper">
    <div id="container">
        <!--头部，相册选择和格式选择-->

        <div id="uploader">
            <div class="queueList">
                <div id="dndArea" class="placeholder">
                    <div id="filePicker"></div>
                    <p>或将照片拖到这里，单次最多可选300张</p>
                </div>
            </div>
            <div class="statusBar" style="display:none;">
                <div class="progress">
                    <span class="text">0%</span>
                    <span class="percentage"></span>
                </div>
                <div class="info"></div>
                <div class="btns">
                    <div id="filePicker2"></div>
                    <div class="uploadBtn">开始上传</div>
                </div>
            </div>
            <input type="hidden" value="{:url('upload/multipart_upload')}" id="upload_url" />
        </div>
    </div>
</div>
{/block}
{block name="scripts"}
<script type="text/javascript" src="/static/webuploader-0.1.5/jquery.js"></script>
<script type="text/javascript" src="/static/webuploader-0.1.5/webuploader.js"></script>
<script type="text/javascript" src="/static/webuploader-0.1.5/upload_image.js"></script>
<script>
    layui.use([], function () {
        okLoading.close();
    })
</script>
{/block}