APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = sql_127_0_0_5USERNAME = sql_127_0_0_5PASSWORD = 3iH4cB4RrSfne2hLHOSTPORT = 3306CHARSET = utf8DEBUG = true[LANG]default_lang = zh-cn