runtime/
.idea
*.log
/vendor/
/public/install.lock
/public/uploads/*
/public/storage/attachment/*
/public/storage/*
/addons/*
.idea
composer.lock
*.log
*.css.map
!.gitkeep
.env
.svn
.vscode
*.zip
/config/database.php
/strawberry.zip
./public/nginx.htaccess
./public/.htaccess
info.ini

.DS_Store
test_name
TestName.php

*.json
./composer.json
./config/app.php
./config/database.php
./public/.user.ini
./public/nginx.htaccess