runtime/
.idea
*.log
/public/install.lock
/public/uploads/*
public/storage/attachment/*
/public/storage/*
.idea
composer.lock
*.log
*.css.map
!.gitkeep
.env
.svn
.vscode
*.zip
/config/database.php
/strawberry.zip
./public/nginx.htaccess
./public/.htaccess