<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>小程序管理</title>
		<link rel="stylesheet" href="/static/component/pear/css/pear.css" />
		<script>
			window.urls = {
				getUploadFiles: "{:url('upload/getUploadFiles')}",
				uploadEditor: "{:url('upload/uploadEditor')}",
				uploadfile: "{:url('upload/uploadfile')}",
			}

			window.CONFIG = {
				ADMIN: "{$adminModuleName|default='admin'}",
				CONTROLLER_JS_PATH: "{$thisControllerJsPath|default=''}",
				ACTION: "{$thisAction|default=''}",
				AUTOLOAD_JS: "{$autoloadJs|default='false'}",
				VERSION: "{$version|default='1.0.0'}",
				WELCOME: "{:url('welcome')}",
				DATAURL: '{:url("index")}'
			};
		</script>
	</head>
<body class="pear-container">
<div class="layui-card">
			<div class="layui-card-body">
	<!--数据表格-->
	<table class="layui-hide" id="tableId" lay-filter="tableFilter"></table>
	</div>
		</div>


<!--js逻辑-->
<script src="/static/component/layui/layui.js"></script>
<script src="/static/component/pear/pear.js"></script>
<script src="/static/admin/js/applets.js"></script>
<!-- 头工具栏模板 -->
<script type="text/html" id="toolbarTpl">
	<button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
		<i class="layui-icon layui-icon-add-1"></i>
		新增
	</button>
 <!--	<button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
		<i class="layui-icon layui-icon-delete"></i>
		删除
	</button> -->
</script>
<!-- 行工具栏模板 -->
<script type="text/html" id="operationTpl">
	{{#  if(d.addons != ''){ }}<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="welcome"><i class="layui-icon">&#xe68e;</i></button>{{#  } }}
	<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></button>
	<button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="del"><i class="layui-icon layui-icon-delete"></i></button>
	<!-- <button class="pear-btn pear-btn-sm" id="more_{{d.userId}}"><i class="layui-icon layui-icon-triangle-d"></i></button> -->
</script>

<script type="text/html" id="statusTpl">
	{{#  if(d.status == 'normal'){ }}
	<span class="layui-btn layui-btn-normal layui-btn-xs">启用</span>
	{{#  } else if(d.status != 'normal') { }}
	<span class="layui-btn layui-btn-warm layui-btn-xs">停用</span>
	{{#  } }}
</script>
<script type="text/html" id="logoTpl">
	<img src="{{d.avatar}}" style="width: auto;height: 100%;"/>
</script>
	</body>
</html>