<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="草莓快速开发框架">
    <meta name="description" content="草莓快速开发框架 thinkphp6开源版">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="/static/css/oksub.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <script src="{:url('ajax/lang',['controllername'=>1,'lang'=>'zh-cn'])}"></script>
    {block name="head"}{/block}
</head>

<body>
    {block name="content"}{/block}
    <!--js逻辑-->
    <script src="/static/lib/layui/layui.js"></script>

    {block name="scripts"}{/block}
</body>

</html>