{extend name="layout/default" /}
{block name="head"}
	{if isset($wx)}
    <title>{:__('Edit')}</title>
    {else/}
    <title>{:__('Add')}</title>
    {/if}
{/block}
{block name="content"}
<div class="ok-body">
	<!--form表单-->
	<form class="layui-form layui-form-pane ok-form">
	    
                    {if $wx.id??null}
                    <input type="hidden" name="id" placeholder="" autocomplete="off" class="layui-input" value="{$wx.id??''}">
                    {/if}
                    <div class="layui-form-item">
                    <label class="layui-form-label">公众号名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" placeholder="{:__("Name")}" autocomplete="off" class="layui-input"
                               lay-verify="required" value="{$wx.name??''}">
                    </div>
                </div><div class="layui-form-item">
                    <label class="layui-form-label">APPID</label>
                    <div class="layui-input-block">
                        <input type="text" name="appid" placeholder="{:__("Appid")}" autocomplete="off" class="layui-input"
                               lay-verify="required" value="{$wx.appid??''}">
                    </div>
                </div><div class="layui-form-item">
                    <label class="layui-form-label">appsecret</label>
                    <div class="layui-input-block">
                        <input type="text" name="appsecret" placeholder="{:__("Appsecret")}" autocomplete="off" class="layui-input"
                               lay-verify="required" value="{$wx.appsecret??''}">
                    </div>
                </div><div class="layui-form-item">
                    <label class="layui-form-label">token</label>
                    <div class="layui-input-block">
                        <input type="text" name="token" placeholder="{:__("Token")}" autocomplete="off" class="layui-input"
                               lay-verify="required" value="{$wx.token??''}">
                    </div>
                </div><div class="layui-form-item">
                    <label class="layui-form-label">encodingaeskey</label>
                    <div class="layui-input-block">
                        <input type="text" name="encodingaeskey" placeholder="{:__("Encodingaeskey")}" autocomplete="off" class="layui-input"
                               lay-verify="required" value="{$wx.encodingaeskey??''}">
                    </div>
                </div>        <div class="layui-form-item">
            <label class="layui-form-label">{:__("Type")}</label>
            <div class="layui-input-block">
                <select name="type" lay-verify="required">
                    <option value="">{:__('Select')}</option>
                    <option {if ($wx.type??null) == 1}selected=""{/if} value="1">服务号</option><option {if ($wx.type??null) == 2}selected=""{/if} value="2">订阅号</option>
                </select>
            </div>
        </div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit lay-filter="add">{:__('Submit')}</button>
				<button type="reset" class="layui-btn layui-btn-primary">{:__('Reset')}</button>
			</div>
		</div>
	</form>
</div>
{/block}
{block name="scripts"}
<script src="/static/js/upload.js" charset="utf-8"></script>

<script>

	//设置插件路径
	layui.config({
            base: '../../static/lib/'
    })
	//集成插件
	.extend([])
	//使用插件
	.use(["form","okLayer","okUtils"], function () {
		let form = layui.form;
let okLayer = layui.okLayer;
let okUtils = layui.okUtils;

		
  		let editorArr = {};
		okLoading.close();
        

		form.on("submit(add)", function (data) {
			okUtils.ajax("", "post", data.field, true).done(function (response) {
				//console.log(response);
				if(response.code==1){
					okLayer.greenTickMsg("编辑成功", function () {
						parent.layer.close(parent.layer.getFrameIndex(window.name));
					});
				}else{
					okLayer.greenTickMsg(response.msg, function () {
				        
				    })
				}
				
			}).fail(function (error) {
				console.log(error)
			});
			return false;
		});
	});
</script>


<script type="text/javascript" src="/static/lib/require.js"></script>
<script type="text/javascript" src="/static/js/addons.js"></script>
{/block}
