{extend name="layout/default" /}


{block name="head"}
<title>添加</title>
{/block}
{block name="content"}
<div class="lay-card">
    <!--form表单-->
    <form class="layui-form">
         <div class="mainBox">
            <div class="main-container">
        <div class="layui-form-item">
            <label class="layui-form-label">角色组名</label>
            <div class="layui-input-block">
                <input type="text" name="title" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">角色权限</label>
            <div class="layui-input-block">
                <div id="permissionTree"></div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input type="checkbox" name="status" lay-skin="switch" lay-text="启用|停用" checked value="1">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <input type="text" name="remark" autocomplete="off" class="layui-input">
            </div>
        </div>
              </div>
    </div>
      <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" lay-filter="add">
                <i class="layui-icon layui-icon-ok"></i>
                {:__('Submit')}
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                {:__('Reset')}
            </button>
        </div>
    </div>
    </form>
</div>
{/block}
{block name="scripts"}
<!--js逻辑-->
<script src="/static/js/jquery.min.js"></script>
<script>
    //获取所有选中的节点id
    function getCheckedId(data) {
        var id = "";
        $.each(data, function (index, item) {
            if (id != "") {
                id = id + "," + item.id;
            } else {
                id = item.id;
            }
            //item 没有children属性
            if (item.children != null) {
                var i = getCheckedId(item.children);
                if (i != "") {
                    id = id + "," + i;
                }
            }
        });
        return id;
    }

    layui.use(["element", "form", 'tree', "laydate"], function () {
        let form = layui.form;
        let laydate = layui.laydate;
        var tree = layui.tree;

        $.ajax(
            {
                url:"{:url('add')}", 
                type:"get", 
                data:{
            id: 0,
            getauth: 1
        }, 
        }).done(function (response) {
            //console.log(response);
            if (response.code == 1) {
                response.data = response.data || [];
                tree.render({
                    elem: "#permissionTree",
                    data: response.data,
                    showCheckbox: true,
                    id: 'nodeDataId',
                });
            } else {
                layer.msg(response.msg,{icon:2,time:1000},function(){

                })
            }

        }).fail(function (error) {
            console.log(error)
        });


        //laydate.render({elem: "#birthday", type: "datetime"});

        form.verify({

        });

        form.on("submit(add)", function (data) {
            var checkedData = tree.getChecked('nodeDataId');
            var nodeIds = '';
            nodeIds = getCheckedId(checkedData);
            var formdata = data.field;
            formdata.rules = nodeIds;
            $.ajax(
                {
                    url:"{:url('add')}", 
                    type:"post", 
                    data:formdata,
                }
                    ).done(function (response) {
                //console.log(response);
                if (response.code == 1) {
                    layer.msg(response.msg,{icon:1,time:1000},function(){
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                        parent.location.reload();
                        
                    });
                } else {
                     layer.msg(response.msg,{icon:2,time:1000},function(){

                    })
                }

            }).fail(function (error) {
                console.log(error)
            });
            return false;
        });
    });
</script>
{/block}