{extend name="layout/default" /}
{block name="head"}
	{if isset($hetong_nav)}
    <title>{:__('Edit')}</title>
    {else/}
    <title>{:__('Add')}</title>
    {/if}
{/block}
{block name="content"}
<div class="ok-body">
	<!--form表单-->
	<form class="layui-form layui-form-pane ok-form">
	    
                    {if $hetong_nav.id??null}
                    <input type="hidden" name="id" placeholder="" autocomplete="off" class="layui-input" value="{$hetong_nav.id??''}">
                    {/if}
                    <div class="layui-form-item">
                    <label class="layui-form-label">导航名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" placeholder="{:__("Name")}" autocomplete="off" class="layui-input"
                               lay-verify="required" value="{$hetong_nav.name??''}">
                    </div>
                </div><div class="layui-form-item">
                    <label class="layui-form-label">导航图标</label>
                      <div class="layui-input-block layui-upload">
                        <input name="nav_image" class="layui-input layui-col-xs6" lay-verify="required" placeholder="{:__('Please upload')}" value="{$hetong_nav.nav_image??null}">
                        <div class="layui-upload-btn" >
                            <span><a class="layui-btn" data-url="{:url('upload/uploadfile')}" data-upload="nav_image" data-upload-number="one" data-upload-exts="png|jpg|ico|jpeg" data-upload-icon="image"><i class="fa fa-upload"></i>{:__('Upload')}</a></span>
                            <span><a class="layui-btn layui-btn-normal" id="select_logo_nav_image" data-upload-select="nav_image" data-upload-number="one" data-upload-mimetype="image/*"><i class="fa fa-list"></i>{:__('Select')}</a></span>
                        </div>
                    </div>
                </div><div class="layui-form-item">
                    <label class="layui-form-label">导航链接</label>
                    <div class="layui-input-block">
                        <input type="text" name="navurl" placeholder="{:__("Navurl")}" autocomplete="off" class="layui-input"
                               lay-verify="required" value="{$hetong_nav.navurl??''}">
                    </div>
                </div>    <div class="layui-form-item">
    <label class="layui-form-label">{:__("Switch")}</label>
    <div class="layui-input-block">
      <input type="checkbox" name="switch" lay-skin="switch" lay-text="{:__('Open')}|{:__('Close')}" {if isset($hetong_nav) && $hetong_nav.switch == 'on'}checked{/if}>
    </div>
  </div>  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">{:__("Create_time")}</label>
      <div class="layui-input-block">
        <input type="text" name="create_time" id="create_time" autocomplete="off" class="layui-input" placeholder='yy-mm-dd HH:ii:ss' value="{$hetong_nav.create_time??date('Y-m-d H:i:s')}">
      </div>
    </div>
  </div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit lay-filter="add">{:__('Submit')}</button>
				<button type="reset" class="layui-btn layui-btn-primary">{:__('Reset')}</button>
			</div>
		</div>
	</form>
</div>
{/block}
{block name="scripts"}
<script src="/static/js/upload.js" charset="utf-8"></script>

<script>

	//设置插件路径
	layui.config({
            base: '../../static/lib/'
    })
	//集成插件
	.extend([])
	//使用插件
	.use(["form","okLayer","okUtils","laydate"], function () {
		let form = layui.form;
let okLayer = layui.okLayer;
let okUtils = layui.okUtils;
let laydate = layui.laydate;

		
  		let editorArr = {};
		okLoading.close();
        
                //=============渲染字段create_time组件
                laydate.render({ 
                          elem: "#create_time"
                          ,trigger:'click'
                          ,type: 'datetime'
                        });

		form.on("submit(add)", function (data) {
			okUtils.ajax("", "post", data.field, true).done(function (response) {
				//console.log(response);
				if(response.code==1){
					okLayer.greenTickMsg("编辑成功", function () {
						parent.layer.close(parent.layer.getFrameIndex(window.name));
					});
				}else{
					okLayer.greenTickMsg(response.msg, function () {
				        
				    })
				}
				
			}).fail(function (error) {
				console.log(error)
			});
			return false;
		});
	});
</script>


<script type="text/javascript" src="/static/lib/require.js"></script>
<script type="text/javascript" src="/static/js/addons.js"></script>
{/block}
