<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>系统配置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/css/oksub.css">
    <script type="text/javascript" src="/static/lib/loading/okLoading.js"></script>
</head>
<body>
<style>
    .edit-form tr td input {
        width: 100%;
    }
</style>
<div class="ok-body">
    <div class="layui-tab">
        <ul class="layui-tab-title">
            {volist name="siteList" key="k" id="vo"}
            <li class="{$vo.active?'layui-this':''}">
                <a href="#{$vo.name}"></a>
				{:__($vo.title)}
            </li>
            {/volist}
        </ul>
        <div class="layui-tab-content">
            {volist name="siteList" key="index" id="vo"}
            <div class="layui-tab-item {$index == 1?'layui-show':''}">
                <form class="layui-form edit-form form-horizontal" id="{$vo.name}-form" method="POST" action="{:url('general.config/edit')}">
                    <div class="layui-form-item">
                        <table class="layui-table">
                            <thead>
                            <tr>
								<th width="15%">{:__('Title')}</th>
								<th width="68%">{:__('Value')}</th>
								<th width="15%">{:__('Name')}</th>
                                <th width="2%"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $vo.list as $item}
                            <div class="lay"></div>
                            <tr>
                                <td>{$item.title}</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-8 col-xs-12">
                                            {switch $item.type}
                                            {case string}
                                            <input {$item.extend_html} type="text" name="row[{$item.name}]"
                                                   value="{$item.value|htmlentities}" class="form-control"
                                                   data-rule="{$item.rule}" data-tip="{$item.tip}"/>
                                            {/case}
                                            {case text}
                                            <textarea {$item.extend_html} name="row[{$item.name}]" class="form-control"
                                                      data-rule="{$item.rule}" rows="5" data-tip="{$item.tip}">{$item.value|htmlentities}</textarea>
                                            {/case}
                                            {case editor}
                                            <textarea {$item.extend_html} name="row[{$item.name}]"
                                                      id="editor-{$item.name}" class="form-control editor"
                                                      data-rule="{$item.rule}" rows="5" data-tip="{$item.tip}">{$item.value|htmlentities}</textarea>
                                            {/case}
                                            {case array}
                                            <dl {$item.extend_html} class="fieldlist" data-name="row[{$item.name}]">
                                                <dd>
                                                    <ins>
                                                        {:isset($item["setting"]["key"])&&$item["setting"]["key"]?$item["setting"]["key"]:__('Array
                                                        key')}
                                                    </ins>
                                                    <ins>
                                                        {:isset($item["setting"]["value"])&&$item["setting"]["value"]?$item["setting"]["value"]:__('Array
                                                        value')}
                                                    </ins>
                                                </dd>
                                                <dd><a href="javascript:;" class="btn btn-sm btn-success btn-append"><i
                                                        class="fa fa-plus"></i> {:__('Append')}</a></dd>
                                                <textarea name="row[{$item.name}]" class="form-control hide" cols="30"
                                                          rows="5">{$item.value|htmlentities}</textarea>
                                            </dl>
                                            {/case}
                                            {case date}
                                            <input {$item.extend_html} type="text" name="row[{$item.name}]"
                                                   value="{$item.value|htmlentities}"
                                                   class="form-control datetimepicker" data-date-format="YYYY-MM-DD"
                                                   data-tip="{$item.tip}" data-rule="{$item.rule}"/>
                                            {/case}
                                            {case time}
                                            <input {$item.extend_html} type="text" name="row[{$item.name}]"
                                                   value="{$item.value|htmlentities}"
                                                   class="form-control datetimepicker" data-date-format="HH:mm:ss"
                                                   data-tip="{$item.tip}" data-rule="{$item.rule}"/>
                                            {/case}
                                            {case datetime}
                                            <input {$item.extend_html} type="text" name="row[{$item.name}]"
                                                   value="{$item.value|htmlentities}"
                                                   class="form-control datetimepicker"
                                                   data-date-format="YYYY-MM-DD HH:mm:ss" data-tip="{$item.tip}"
                                                   data-rule="{$item.rule}"/>
                                            {/case}
                                            {case datetimerange}
                                            <input {$item.extend_html} type="text" name="row[{$item.name}]"
                                                   value="{$item.value|htmlentities}" class="form-control datetimerange"
                                                   data-tip="{$item.tip}" data-rule="{$item.rule}"/>
                                            {/case}
                                            {case number}
                                            <input {$item.extend_html} type="number" name="row[{$item.name}]"
                                                   value="{$item.value|htmlentities}" class="form-control"
                                                   data-tip="{$item.tip}" data-rule="{$item.rule}"/>
                                            {/case}
                                            {case checkbox}
                                            <div class="checkbox">
                                                {foreach name="item.content" item="vo"}
                                                <label for="row[{$item.name}][]-{$key}"><input
                                                        id="row[{$item.name}][]-{$key}" name="row[{$item.name}][]"
                                                        type="checkbox" value="{$key}" data-tip="{$item.tip}" {in
                                                        name="key" value="$item.value" }checked{/in} /> {$vo}</label>
                                                {/foreach}
                                            </div>
                                            {/case}
                                            {case radio}
                                            <div class="radio">
                                                {foreach name="item.content" item="vo"}
                                                <label for="row[{$item.name}]-{$key}"><input
                                                        id="row[{$item.name}]-{$key}" name="row[{$item.name}]"
                                                        type="radio" value="{$key}" data-tip="{$item.tip}" {in
                                                        name="key" value="$item.value" }checked{/in} /> {$vo}</label>
                                                {/foreach}
                                            </div>
                                            {/case}
                                            {case value="select" break="0"}{/case}
                                            {case value="selects"}
                                            <select {$item.extend_html}
                                                    name="row[{$item.name}]{$item.type=='selects'?'[]':''}"
                                                    class="form-control selectpicker" data-tip="{$item.tip}"
                                                    {$item.type=='selects'?'multiple':''}>
                                                {foreach name="item.content" item="vo"}
                                                <option value="{$key}" {in name="key" value="$item.value" }selected{
                                                /in}>{$vo}</option>
                                                {/foreach}
                                            </select>
                                            {/case}
                                            {case value="image" break="0"}{/case}
                                            {case value="images"}
                                            <div class="form-inline">
                                                <input id="c-{$item.name}" class="form-control" size="50"
                                                       name="row[{$item.name}]" type="text"
                                                       value="{$item.value|htmlentities}" data-tip="{$item.tip}">
                                                <span><button type="button" id="faupload-{$item.name}"
                                                              class="btn btn-danger faupload"
                                                              data-input-id="c-{$item.name}" data-mimetype="image/*"
                                                              data-multiple="{$item.type=='image'?'false':'true'}"
                                                              data-preview-id="p-{$item.name}"><i
                                                        class="fa fa-upload"></i> {:__('Upload')}</button></span>
                                                <span><button type="button" id="fachoose-{$item.name}"
                                                              class="btn btn-primary fachoose"
                                                              data-input-id="c-{$item.name}" data-mimetype="image/*"
                                                              data-multiple="{$item.type=='image'?'false':'true'}"><i
                                                        class="fa fa-list"></i> {:__('Choose')}</button></span>
                                                <span class="msg-box n-right" for="c-{$item.name}"></span>
                                                <ul class="row list-inline faupload-preview" id="p-{$item.name}"></ul>
                                            </div>
                                            {/case}
                                            {case value="file" break="0"}{/case}
                                            {case value="files"}
                                            <div class="form-inline">
                                                <input id="c-{$item.name}" class="form-control" size="50"
                                                       name="row[{$item.name}]" type="text"
                                                       value="{$item.value|htmlentities}" data-tip="{$item.tip}">
                                                <span><button type="button" id="faupload-{$item.name}"
                                                              class="btn btn-danger faupload"
                                                              data-input-id="c-{$item.name}"
                                                              data-multiple="{$item.type=='file'?'false':'true'}"><i
                                                        class="fa fa-upload"></i> {:__('Upload')}</button></span>
                                                <span><button type="button" id="fachoose-{$item.name}"
                                                              class="btn btn-primary fachoose"
                                                              data-input-id="c-{$item.name}"
                                                              data-multiple="{$item.type=='file'?'false':'true'}"><i
                                                        class="fa fa-list"></i> {:__('Choose')}</button></span>
                                                <span class="msg-box n-right" for="c-{$item.name}"></span>
                                            </div>
                                            {/case}
                                            {case switch}
                                            <input id="c-{$item.name}" name="row[{$item.name}]" type="hidden"
                                                   value="{:$item.value?1:0}">
                                            <a href="javascript:;" data-toggle="switcher" class="btn-switcher"
                                               data-input-id="c-{$item.name}" data-yes="1" data-no="0">
                                                <i class="fa fa-toggle-on text-success {if !$item.value}fa-flip-horizontal text-gray{/if} fa-2x"></i>
                                            </a>
                                            {/case}
                                            {case bool}
                                            <label for="row[{$item.name}]-yes"><input id="row[{$item.name}]-yes"
                                                                                      name="row[{$item.name}]"
                                                                                      type="radio" value="1"
                                                                                      {$item.value?'checked':''}
                                                data-tip="{$item.tip}" /> {:__('Yes')}</label>
                                            <label for="row[{$item.name}]-no"><input id="row[{$item.name}]-no"
                                                                                     name="row[{$item.name}]"
                                                                                     type="radio" value="0"
                                                                                     {$item.value?'':'checked'}
                                                data-tip="{$item.tip}" /> {:__('No')}</label>
                                            {/case}
                                            {case city}
                                            <div style="position:relative">
                                                <input {$item.extend_html} type="text" name="row[{$item.name}]"
                                                       id="c-{$item.name}" value="{$item.value|htmlentities}"
                                                       class="form-control" data-toggle="city-picker"
                                                       data-tip="{$item.tip}" data-rule="{$item.rule}"/>
                                            </div>
                                            {/case}
                                            {case value="selectpage" break="0"}{/case}
                                            {case value="selectpages"}
                                            <input {$item.extend_html} type="text" name="row[{$item.name}]"
                                                   id="c-{$item.name}" value="{$item.value|htmlentities}"
                                                   class="form-control selectpage"
                                                   data-source="{:url('general/config/selectpage')}?id={$item.id}"
                                                   data-primary-key="{$item.setting.primarykey}"
                                                   data-field="{$item.setting.field}"
                                                   data-multiple="{$item.type=='selectpage'?'false':'true'}"
                                                   data-tip="{$item.tip}" data-rule="{$item.rule}"/>
                                            {/case}
                                            {case custom}
                                            {$item.extend_html}
                                            {/case}
                                            {/switch}
                                        </div>
                                        <div class="col-sm-4"></div>
                                    </div>

                                </td>
                                <td>{php}echo "{\$site.". $item['name'] . "}";{/php}</td>
                                <td>{if $item['id']>17}<a href="javascript:;" class="btn-delcfg text-muted"
                                                          data-name="{$item.name}"><i class="fa fa-times"></i></a>{/if}
                                </td>
                            </tr>
                            {/foreach}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td></td>
                                <td>
                                    <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </form>
            </div>
            {/volist}
            <!--显示地图DEMO 哪里需要就用这个就行了-->
            <div class="map">
                {if $map_config}
                <div class="baidu_map" style="color: grey">
                    <b><a href="stadmin.shiliucrm.com/admin/general.Config/baidu_map.html" target="_blank">百度地图DEMO</a></b>
                    <i style="color: red;font-size: 12px;">API文档：http://lbsyun.baidu.com/jsdemo.htm#a1_2</i>
                </div>
                {/if}
            </div>
        </div>
    </div>
    <!--js逻辑-->
    <script src="/static/lib/layui/layui.js"></script>
    <script>
        layui.use(["element", "jquery", "table", "form", "laydate", "okLayer", "okUtils", "okMock"], function () {
            let table = layui.table;
            let form = layui.form;
            let laydate = layui.laydate;
            let okLayer = layui.okLayer;
            let okUtils = layui.okUtils;
            let okMock = layui.okMock;
            let $ = layui.jquery;
            var element = layui.element;

            okLoading.close($);

        })
    </script>
</div>
</body>
</html>
